@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.banner {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
  
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-text {
  z-index: 1;
}

.banner-text h2 {
  margin: 0;
  font-size: 5em;
  font-weight: bold;
  text-align: left;
}

.banner-text p {
  margin: 20px 0 0;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.sepsis-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.sepsis-stats h1 {
  font-size: 1.5em;
  color: #0e1413;
  margin-bottom: 5px;
}

.sepsis-stats p {
  font-size: 1em;
  margin-bottom: 20px;
  color: #666;
}

.sepsis-title h2 {
  font-size: 2em;
  margin-top: 40px;
  color: #333;
}

.sepsis-info, .sepsis-diagnosis {
  margin-top: 20px;
}

.sepsis-info p, .sepsis-diagnosis p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.sepsis-diagnosis h2 {
  font-size: 1.8em;
  color: #333;
  margin-top: 40px;
}

.sepsis-diagnosis ul {
  list-style: none;
  padding: 0;
}

.sepsis-diagnosis ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.sepsis-diagnosis ul li strong {
  color: #0e1413;
}

.sepsis-diagnosis ul li:before {
  content: "\2022";
  color: #4FB6A7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
